#main {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 420px;
    height: 250px;
}

#form {
    position: relative;
    background: #f9fcff;
    top: -50%;
    left: -50%;
    border: 7px solid #eee;

}
